<%= form_for(print) do |f| %>
  <% if print.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(print.errors.count, "error") %> prohibited this print from being saved:</h2>

      <ul>
      <% print.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :order_state %>
    <%= f.number_field :order_state %>
  </div>

  <div class="field">
    <%= f.label :contact_email %>
    <%= f.number_field :contact_email %>
  </div>

  <div class="field">
    <%= f.label :contact_phone %>
    <%= f.number_field :contact_phone %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
