<p id="notice"><%= notice %></p>

<!-- Dashboard -->

<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a href="#all">All</a></li>
        <li class="tab col s2"><a href="#pending">Pending</a></li>
        <li class="tab col s2"><a href="#printing">Printing</a></li>
        <li class="tab col s2"><a href="#pickup">PickUp</a></li>
        <li class="tab col s2"><a href="#archive">Archive</a></li>
      </ul>
    </div>

    <!-- New Print Link -->
    <div class="row">
      <%= link_to 'New Print Order', new_print_path %>
    </div>

    <!-- All Current Print Orders -->
    <div id="all" class="col s12">
      <h3>Active Print Orders</h3>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Order state</th>
            <th>Contact email</th>
            <th>Contact phone</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @prints.each do |print| %>
            <% if print.order_state < 3 %>
              <tr>
                <td><%= print.name %></td>
                <td><%= print.quantity %></td>
                <td><%= print.order_state %></td>
                <td><%= print.contact_email %></td>
                <td><%= print.contact_phone %></td>
                <td><%= link_to 'Show', print %></td>
                <td><%= link_to 'Edit', edit_print_path(print) %></td>
                <td><%= link_to 'Destroy', print, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <br>
    </div>

    <!-- Pending Orders -->
    <div id="pending" class="col s12">
      <h3>Pending Approval</h3>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Order state</th>
            <th>Contact email</th>
            <th>Contact phone</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @prints.each do |print| %>
            <% if print.order_state == 0 %>
              <tr>
                <td><%= print.name %></td>
                <td><%= print.quantity %></td>
                <td><%= print.order_state %></td>
                <td><%= print.contact_email %></td>
                <td><%= print.contact_phone %></td>
                <td><%= link_to 'Show', print %></td>
                <td><%= link_to 'Edit', edit_print_path(print) %></td>
                <td><%= link_to 'Destroy', print, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td><%= link_to 'Next Stage', bump_up_path(print), method: :put %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <br>
    </div>

    <!-- Printing Orders -->
    <div id="printing" class="col s12">
      <h3>Currently Printing</h3>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Order state</th>
            <th>Contact email</th>
            <th>Contact phone</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @prints.each do |print| %>
            <% if print.order_state == 1 %>
              <tr>
                <td><%= print.name %></td>
                <td><%= print.quantity %></td>
                <td><%= print.order_state %></td>
                <td><%= print.contact_email %></td>
                <td><%= print.contact_phone %></td>
                <td><%= link_to 'Show', print %></td>
                <td><%= link_to 'Edit', edit_print_path(print) %></td>
                <td><%= link_to 'Destroy', print, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td><%= link_to 'Next Stage', bump_up_path(print), method: :put %></td>
                <td><%= link_to 'Go Back', bump_down_path(print), method: :put %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <br>
    </div>

    <!-- PickUp Orders -->
    <div id="pickup" class="col s12">
      <h3>Ready for PickUp</h3>
      <%= link_to 'New Print', new_print_path %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Order state</th>
            <th>Contact email</th>
            <th>Contact phone</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @prints.each do |print| %>
            <% if print.order_state == 2 %>
              <tr>
                <td><%= print.name %></td>
                <td><%= print.quantity %></td>
                <td><%= print.order_state %></td>
                <td><%= print.contact_email %></td>
                <td><%= print.contact_phone %></td>
                <td><%= link_to 'Show', print %></td>
                <td><%= link_to 'Edit', edit_print_path(print) %></td>
                <td><%= link_to 'Destroy', print, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td><%= link_to 'Next Stage', bump_up_path(print), method: :put %></td>
                <td><%= link_to 'Go Back', bump_down_path(print), method: :put %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <br>
    </div>

    <!-- Archived Orders -->
    <div id="archive" class="col s12">
      <h3>Order Archive</h3>
      <%= link_to 'New Print', new_print_path %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Order state</th>
            <th>Contact email</th>
            <th>Contact phone</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @prints.each do |print| %>
            <% if print.order_state == 3 %>
              <tr>
                <td><%= print.name %></td>
                <td><%= print.quantity %></td>
                <td><%= print.order_state %></td>
                <td><%= print.contact_email %></td>
                <td><%= print.contact_phone %></td>
                <td><%= link_to 'Show', print %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <br>
    </div>

  </div>
</div>
