
<!-- NOTE: I should extract all these tables into partials and only render what I need at any given time.
It would be smart to only have to load a single table at a time.  Different tables can be color-coded for
different states in the state machine.
-->
<div class="">
  <p id="notice"><%= notice %></p>
  <%= render partial: 'prints/partials/all_prints' %>
  <%= render partial: 'prints/partials/pending_prints' %>
  <%= render partial: 'prints/partials/currently_printing' %>
  <%= render partial: 'prints/partials/ready_for_pickup' %>
  <%= render partial: 'prints/partials/print_archive' %>
</div>
