<div class="contianer floor-box right-align">
  <div class="col s5">
    <h4>FGW Floor</h4>
    <% @floor_pins.each do |pin| %>
      <div class="floor-machine">
        <%= pin['name'] %> |
        <%= pin['manufacturer'] %> |
        <%= pin['year'] %> |

        <%= form_tag('/pins', method: :delete) do %>
          <%= hidden_field_tag "machine_id", pin['id'] %>
          <div><%= submit_tag "Remove" %></div>
        <% end %>

      </div>
    <% end %>
  </div>
</div>

<div class="col s1"></div>

<div class="container database-box left-align">
  <div class="col s5">
    <h4>Machine DB</h4>
    <div class="row">
      <input type="text" class="pin-search col s8" placeholder="...name a pin, ANY pin...ever.">
    </div>
    <% @pin_db.each do |pin| %>
      <div class="database-machine">

        <%= form_tag('/pins', method: :post) do %>
          <%= hidden_field_tag "machine_id", pin['id'] %>
          <div><%= submit_tag "Add"  %></div>
        <% end %>

        <%= pin['name'] %> |
        <%= pin['manufacturer'] %> |
        <%= pin['year'] %>
      </div>
    <% end %>
    </div>
  </div>
</div>

<#%= link_to fa_icon("check"), :controller => "pins", :action => "create" %>
