<!-- Archived Orders -->
<div id="archive" class="ui centered stackable grid">

  <!-- Print Order Menu -->
  <h3 class="print-table-headings">Order Archive</h3>
  <%= render partial: 'prints/partials/print_menu' %>

  <table class="ui inverted black table">
    <thead>
      <tr>
        <th>Client Name</th>
        <th>Quantity</th>
        <th>Contact email</th>
        <th>Contact phone</th>
      </tr>
    </thead>

    <tbody>
      <% @prints.each do |print| %>
        <% if print.order_state == 3 %>
          <tr>
            <td><%= link_to print do%></i><%= print.name %><% end %></td>
            <td><%= print.quantity %></td>
            <td><%= print.contact_email %></td>
            <td><%= print.contact_phone %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
