<%= form_for @print do |f| %>

<div class="form-wrapper">
  <h6 class="ui dividing header">Please complete the form below - don't forget to include your art:</h6>
  <div class="ui equal width large form">
    <div class="fields">
      <div class="field">
        <%= f.label :name, 'Client Name' %>
        <%= f.text_field :name %>
      </div>
      <div class="field three wide">
        <%= f.label :quantity %>
        <%= f.number_field :quantity %>
      </div>
    </div>

    <div class="fields">
      <div class="field">
        <%= f.label :contact_email %>
        <%= f.text_field :contact_email %>
      </div>
      <div class="field">
        <%= f.label :contact_phone %>
        <%= f.text_field :contact_phone %>
        <%= f.hidden_field :order_state, :value => 0 %>
      </div>
      <div class="field">
        <%= f.label :upload_art, 'Upload your art' %>
        <%= f.file_field :upload_art %>
      </div>
    </div>


    <%= f.submit "Submit Print Order", class: "erb-btn ui secondary big button", :controller => 'prints', :action => 'user_create' %>
    <input type="button" value="Go Back" class="back-btn erb-btn ui secondary big button">
    <% end %>
  </div>
  <br>
</div>
