<%= form_for @print do |f| %>
<div class="row">
  <div class="col s4">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="col s2">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>
</div>

<div class="row">
  <div class="col s6">
    <%= f.label :contact_email %>
    <%= f.text_field :contact_email %>
  </div>
</div>

<div class="row">
  <div class="col s6">
    <%= f.label :contact_phone %>
    <%= f.text_field :contact_phone %>
    <%= f.hidden_field :order_state, :value => 0 %>
  </div>
</div>

<%= f.submit "Submit Print Order", class: "erb-btn", :controller => 'home', :action => 'index' %>

<% end %>
