<!-- Page Header -->
<header>
  <div class="ui section">
    <div class="tag-bg ui centered grid">
      <div class="row home-of" style="color: #ffffff;">
        <div class="tagline">
          <p>home of the most pinball machines in san francisco</p>
          </div>
      </div>
    </div>

    <div class="pc-head">
      <div class="ui stackable two column grid">
        <div class="column ten wide">
          <div class="logo-box">
            <h2>print. shop. arcade.</h2>
            <h1 class="logo">freegoldwatch.</h1>
          </div>
        </div>
        <div class="column six wide centered">
          <div class="row my-nav">
            <a href="#pins">pins.</a>
            <a href="#prints">prints.</a>
            <a href="#parties">parties.</a>
            <a href="#social">social.</a>
          </div>
        </div>
      </div>
    </div>

    <div class="mobile-head">
      <div class="ui text menu">
        <div class="header item">
          <h1 class="logo">fgw.</h1>
        </div>
        <p>print.shop.arcade.</p>
        <div class="right menu">
          <div class="ui dropdown basic button item">
            <%= fa_icon "bars 2x" %>
            <div class="menu">
              <div class="item">
                <a href="#pins">pins.</a>
              </div>
              <div class="item">
                <a href="#prints">prints.</a>
              </div>
              <div class="item">
                <a href="#parties">parties.</a>
              </div>
              <div class="item">
                <a href="#social">social.</a>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="column six wide centered">
          <div class="row my-nav">
            <a href="#pins">pins.</a>
            <a href="#prints">prints.</a>
            <a href="#parties">parties.</a>
            <a href="#social">social.</a>
          </div> -->
        </div>
      </div> <!-- closes mobile-head -->

    </div>


  </div>
</header>

<!-- BG Holder One -->
<div id="bg-one" class="bg-holder"></div>

<!-- // Pinball Box // -->
<div id="pins" class="ui section content-box">
  <h1 class="section-header">pinball and video arcade.</h1>
  <br>
  <div class="pin-box">
    <ul class="pin-list">
    <% @pins.each do |pin| %>
      <li> <%= link_to pin['name'], pin['ipdb_link'], target: '_blank' %> </li>
    <% end %>
    </ul>
    <p class="box-bottom-text"><%= fa_icon "asterisk" %>all ages welcome.  games updated daily!</p>
  </div>
</div> <!-- closes Pinball Box -->

<!-- BG Holder Two -->
<div id="bg-two" class="bg-holder"></div>

<!-- // Print Order Box // -->
<div id="prints" class= "ui section content-box">
  <h1 class="section-header">custom screen printing</h1>
  <br>

  <div class="print-box">
    <button class="ui massive secondary button new-print-btn">New Print Order</button>
    <div class="print-info">
      <ul>
        <div class="ui header">
          <%= fa_icon "check 3x" %>
          <div class="content">
            <p>Low minimums / fast turnaround.</p>
          </div>
        </div>
        <div class="ui header">
          <%= fa_icon "check 3x" %>
          <div class="content">
            <p>Spot color, 4 color process, waterbase inks.</p>
          </div>
        </div>
        <div class="ui header">
          <%= fa_icon "tags 3x" %>
          <div class="content">
            <a href="https://www.alphabroder.com/" target="_blank">Visit our available garmet catalog.</a>
          </div>
        </div>
      </ul>
    </div>
    <div class="print-form">
      <%= render partial: 'home/new_print' %>
    </div>
    <p class="box-bottom-text"><%= fa_icon "asterisk" %>we specialize in small batch garmets of up to four colors.</p>
  </div>
</div>

<!-- BG Holder Three -->
<div id="bg-three" class="bg-holder"></div>

<!-- // Parties Box // -->
<div id="parties" class= "ui section content-box">

  <h1 class="section-header">party and event hosting.</h1>
  <p style="padding-left:4%;">We happily host public or private functions, including:</p>
  <br>

  <div class="ui three column grid">
    <div class="column">
      <h2 class="ui icon header">
        <%= fa_icon "birthday-cake 4x" %>
        <div class="content">birthday parties</div>
        <div class="sub header">for children & adults</div>
      </h2>
    </div>

    <div class="column">
      <h2 class="ui icon header">
        <%= fa_icon "building 4x" %>
        <div class="content">corporate & office parties</div>
        <div class="sub header">professionals playing pins</div>
      </h2>
    </div>

    <div class="column">
      <h2 class="ui icon header">
        <%= fa_icon "tint 4x" %>
        <div class="content">screen printing workshops</div>
        <div class="sub header">make some swag</div>
      </h2>
    </div>
  </div>

  <p class="box-bottom-text"><a href="tel: 415-876-4444"><%= fa_icon "phone" %> call</a> / <a href="mailto: info@freegoldwath.com"><%= fa_icon "envelope" %> email </a> for info & availability.</p>
</div>

<!-- BG Holder Four -->
<div id="bg-four" class="bg-holder"></div>

<!-- // Social Media Box // -->
<div id="social" class="ui section content-box" style="background-color: #ffffff;">
  <h1 class="section-header">social media</h1>
  <br>
  <!-- Social Media Content - Instagram & Facebook Feeds -->
  <div class="ui three column stackable grid container">

    <div class="column six wide">
      <!-- Instagram Feed -->
      <p><%= fa_icon "instagram 4x", class: 'ui image' %><span style="font-family:'serif';">@</span>freegoldwatch</p>
      <div class="ui row tiny images">
        <% @instagram.each do |instagram| %>
        <%= link_to "#{instagram.images.standard_resolution.url}" do %>
        <%= image_tag instagram.images.thumbnail.url, class: "ui image" %>
        <% end %>
        <% end %>
      </div>
      <p><%= fa_icon "twitter 4x", class: 'ui image' %><span style="font-family:'serif';">#</span>freegoldwatchUS</p>
      <div class="ui row tiny images">
        <% @instagram.each do |instagram| %>
        <%= link_to "#{instagram.images.standard_resolution.url}" do %>
        <%= image_tag instagram.images.thumbnail.url, class: "ui image" %>
        <% end %>
        <% end %>
      </div>
    </div>

    <div class="column six wide">
      <!-- Facebook Feed -->
      <p><%= fa_icon "facebook 4x", class: 'ui image' %> /freegoldwatchshop</p>
      <div class="ui row tiny images">
        <% @instagram.each do |instagram| %>
        <%= link_to "#{instagram.images.standard_resolution.url}" do %>
        <%= image_tag instagram.images.thumbnail.url, class: "ui image" %>
        <% end %>
        <% end %>
      </div>
    </div>

    <!-- SFPD Badge -->
    <div class="column four wide">
      <%= link_to 'http://sfpins.org', target: '_blank' do %>
      <%= image_tag('sfpd_b&w small', class: "sfpd_logo ui image center aligned") %>
      <% end %>
      <p><%= fa_icon "chevron-up" %> check out league.</p>
    </div>
  </div>

</div> <!-- closes Social Box -->

<!-- BG Holder Four -->
<div id="bg-five" class="bg-holder"></div>

<!-- Page Footer -->
<footer>
  <div class="foot-cap"></div>
  <div class="foot-box">
    <div class="ui center aligned stackable grid">
      <div class="row">

        <div class="five wide computer seven wide tablet column">
          <a href="https://www.google.com/maps/place/Free+Gold+Watch/@37.7682011,-122.4549127,17z/data=!4m5!3m4!1s0x80858751638705a1:0xc5438abd8814e010!8m2!3d37.7682011!4d-122.452724" target="_blank">
            <%= image_tag('new_map', class: 'ui image') %>
          </a>
          <p>1767 Waller St. SF, Ca. 94117</p>
        </div>

        <div class="six wide computer one wide tablet column"></div>

        <div class="five wide computer seven wide tablet column">
          <%= image_tag('hours', class: 'ui centered image') %>
          <div class="hours-extra-text">
            <div><%= link_to 'mailto:info@freegoldwatch.com', target: '_blank' do %> info<span style="font-family:sans-serif;">@</span>freegoldwatch.com
            <% end %></div>
            <div><%= link_to 'tel: 415-876-4444' do %> 415 876-4444
            <% end %></div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="three wide column"></div>
        <div class="ten wide column">
          <%= link_to 'https://www.facebook.com/FreeGoldWatchShop/', target: '_blank' do %>
          <%= fa_icon "facebook-square 2x" %>
          <% end %>
          <%= link_to 'https://www.instagram.com/freegoldwatch/', target: '_blank' do %>
          <%= fa_icon "instagram 2x" %>
          <% end %>
          <%= link_to 'https://www.github.com/wakaspar/FreeGoldWatch', target: '_blank' do %>
          <%= fa_icon "github-square 2x" %>
          <% end %>
          <p>copyright<span style="font-family:'serif';"> © </span>2017 | freegoldwatch.</p>
        </div>
        <div class="three wide column"></div>
      </div>
    </div>
  </div> <!-- closes pc-foot -->




</footer>
