<!-- Page Header -->
<header>
  <div class="ui centered row tagline">
    <p>home of the most pinball machines in san francisco</p>
  </div>
  <div class="logo-box">
    <div class="ui text menu">
      <!-- Logos -->
      <div class="header item">
        <a href="#home">
          <h1 class="initials logo">fgw.</h1>
          <h1 class="full-name logo">freegoldwatch.</h1>
        </a>
      </div>
      <!-- Navigation -->
      <div class="right menu">
        <!-- Smells Fishy -->
        <p class="item psa" style="color:#161616;">print. shop. arcade.</p>

        <div class="ui dropdown item">
          <div class="ui icon button" style="background-color:#161616;">
            <i class="large bars icon" style="color:#ffffff;"></i>
          </div>
          <div class="burger menu">
            <div class="header">
              freegoldwatch
              <i class="location arrow icon"></i>
            </div>
            <div class="ui divider"></div>
            <div id="pins-link" class="left aligned item">
              <i class="bomb icon"></i>
              pinball arcade.
            </div>

            <div id="prints-link" class="left aligned item">
              <i class="theme icon"></i>
              printmaking shop.
            </div>
            <div id="parties-link" class="left aligned item">
              <i class="birthday icon"></i>
              parties and events.</div>
            <div id="social-link" class="left aligned item">
              <i class="hashtag icon"></i>
              social media.
            </div>
            <div class="ui divider"></div>
            <div class="header foot-link">
              <i class="home red icon"></i>
              1767 Waller St. SF, CA 94117
            </div>
            <div class="header foot-link">
              <i class="phone blue icon"></i>
              1(415) 876-4444
            </div>
            <div class="header foot-link">
              <i class="envelope green icon"></i>
              info@freegoldwatch.com
            </div>

            <!-- <div class="header">
            </div>
            <div class="header">
            </div> -->
          </div>
        </div>


      </div> <!-- closes Nav -->
    </div>  <!-- closes 'ui text menu' -->
    <div class=""></div>
  </div>  <!-- closes logo-box -->
</header>

<!-- BG Holder One -->
<div id="home" class="bg-holder"></div>

<!-- // Pinball Box // -->
<div id="pins" class="ui section content-box">
  <h1 class="section-header">pinball & video arcade.</h1>
  <br>
  <div class="pin-box">
    <ul class="pin-list">
    <% @pins.each do |pin| %>
      <li> <%= link_to pin['name'], pin['ipdb_link'], target: '_blank' %> </li>
    <% end %>
    </ul>
  </div>
  <br>
  <div class="ui right aligned grid">
    <p class="column box-bottom-text"><i class="game icon"></i>all ages welcome.  games updated daily!</p>
  </div>
</div> <!-- closes Pinball Box -->

<!-- BG Holder Two -->
<div id="bg-two" class="bg-holder"></div>

<!-- // Print Order Box // -->
<div id="prints" class= "ui section content-box">
  <h1 class="section-header">custom screen printing.</h1>
  <p class="row" style="padding-left:4%;"> <i class="asterisk icon"></i>We specialize in small batches of up to four colors, as well as</p>

  <br>
  <div class="print-order-info">
    <div class="ui center aligned three column stackable grid">
      <div class="column">
        <h2 class="ui icon header">
          <i class="ui circular inverted exchange icon"></i>
          <div class="content">Low minimums / fast turnaround</div>
        </h2>
      </div>
      <div class="column">
        <h2 class="ui icon header">
          <i class="ui circular inverted tint icon"></i>
          <div class="content">Spot color, 4 color process, waterbase inks</div>
        </h2>
      </div>
      <div class="column">
        <h2 class="ui icon header">
          <i class="ui circular inverted tags icon"></i>
          <div class="content"><a href="https://www.alphabroder.com/" target="_blank">Visit our available garmet catalog</a></div>
        </h2>
      </div>
      <div class="row">
        <button class="ui massive secondary labeled icon button new-print-btn"> <i class="add circle icon" style="color:#ffffff;"></i> new print order</button>
      </div>
    </div>
  </div> <!-- closes print-order-info -->
  <div class="print-order-form">
    <%= render partial: 'home/new_print' %>
  </div>
</div>

<!-- BG Holder Three -->
<div id="bg-three" class="bg-holder"></div>

<!-- // Parties Box // -->
<div id="parties" class= "ui section content-box">

  <h1 class="section-header">party & event hosting.</h1>
  <!-- TODO: SMELLY! -->
  <p style="padding-left:4%;"><i class="asterisk icon"></i>We proudly host public or private functions, including</p>
  <br>

  <div class="ui center aligned three column stackable grid">
    <div class="column">
      <h2 class="ui icon header">
        <i class="ui circular inverted birthday icon hoverable-i"></i>
        <div class="content">birthday parties</div>
        <div class="sub header">for children and adults</div>
      </h2>
    </div>

    <div class="column">
      <h2 class="ui icon header">
        <i class="ui circular inverted building icon"></i>
        <div class="content">corporate & office parties</div>
      </h2>
    </div>

    <div class="column">
      <h2 class="ui icon header">
        <i class="ui circular inverted tint icon"></i>
        <div class="content">screen printing workshops</div>
      </h2>
    </div>
  </div>
  <div class="ui divider"></div>

  <p class="row" style="padding-left:4%;"> <i class="info circle icon"></i> Contact the shop via:</p>
  <div class="ui center aligned three column stackable grid">
    <!-- Call Button -->
    <div class="column">
      <a href="tel:1-415-876-4444"></a>
      <button class="ui massive secondary labeled icon button">
        <i class="phone icon" style="color:#ffffff;"></i>
        phone
      </button>
    </div>
    <h1>or</h1>
    <div class="column">
      <a href="mailto:info@freegoldwatch.com">
        <button class="ui massive secondary labeled icon button">
          <i class="envelope icon" style="color:#ffffff;"></i>
          email
        </button>
      </a>
    </div>
    <p class="centered five column row">...for more infomation or to ask about availabilty!</p>
  </div>
</div>

<!-- BG Holder Four -->
<div id="bg-four" class="bg-holder"></div>

<!-- // Social Media Box // -->
<div id="social" class="ui section content-box">
  <h1 class="section-header">social media.</h1>
  <br>
  <!-- Social Media Content - Instagram & Facebook Feeds -->
  <div class="ui center aligned three column stackable grid container">

    <div class="column six wide">
      <!-- Instagram Feed  - SFPins Account -->
      <p><%= fa_icon "instagram 4x", class: 'ui image' %><span style="font-family:'serif';"> @</span>sfpins</p>
      <div class="ui row tiny images">
        <% @instagram.each do |instagram| %>
        <%= link_to "#{instagram.images.standard_resolution.url}" do %>
        <%= image_tag instagram.images.thumbnail.url, class: "ui image" %>
        <% end %>
        <% end %>
      </div>

      <!-- Instagram Feed  - FGW Account -->
      <p><%= fa_icon "instagram 4x", class: 'ui image' %><span style="font-family:'serif';"> @</span>freegoldwatch</p>
      <div class="ui row tiny images">
        <% @instagram.each do |instagram| %>
        <%= link_to "#{instagram.images.standard_resolution.url}" do %>
        <%= image_tag instagram.images.thumbnail.url, class: "ui image" %>
        <% end %>
        <% end %>
      </div>

    </div>

    <div class="column six wide">
      <!-- Twitter Feed -->
      <p><%= fa_icon "twitter 4x", class: 'ui image' %><span style="font-family:'serif';">#</span>freegoldwatchUS</p>
      <div class="ui row tiny images">
        <% @instagram.each do |instagram| %>
        <%= link_to "#{instagram.images.standard_resolution.url}" do %>
          <%= image_tag instagram.images.thumbnail.url, class: "ui image" %>
          <% end %>
        <% end %>
      </div>

      <!-- Facebook Feed -->
      <p><%= fa_icon "facebook 4x", class: 'ui image' %> /freegoldwatchshop</p>
      <div class="ui row tiny images">
        <% @instagram.each do |instagram| %>
        <%= link_to "#{instagram.images.standard_resolution.url}" do %>
          <%= image_tag instagram.images.thumbnail.url, class: "ui image" %>
          <% end %>
        <% end %>
      </div>
    </div>

    <!-- SFPD Badge -->
    <div class="four wide column">
      <%= link_to 'http://sfpins.org', target: '_blank' do %>
        <%= image_tag('sfpd_b&w small', class: "sfpd_logo ui centered image") %>
          <button class="ui big secondary labeled icon button">
            <i class="linkify icon" style="color:#ffffff;"></i>
            league.
          </button>
      <% end %>
    </div>
  </div>

</div> <!-- closes Social Box -->

<!-- BG Holder Four -->
<div id="bg-five" class="bg-holder"></div>

<!-- Page Footer -->
<footer id="foot">
  <div class="foot-cap"></div>

  <div class="content-box">
    <div class="ui center aligned stackable grid">
      <div class="row">
        <div class="five wide computer seven wide tablet column">
          <a href="https://www.google.com/maps/place/Free+Gold+Watch/@37.7682011,-122.4549127,17z/data=!4m5!3m4!1s0x80858751638705a1:0xc5438abd8814e010!8m2!3d37.7682011!4d-122.452724" target="_blank">
            <%= image_tag('new_map', class: 'ui image') %>
            <p><i class="home icon"></i> 1767 Waller St. SF, Ca. 94117</p>
          </a>
        </div>
        <div class="six wide computer one wide tablet column"></div>
        <div class="five wide computer seven wide tablet column">
          <%= image_tag('hours', class: 'ui centered image') %>
          <a href="mailto:info@freegoldwatch.com">
            <p><i class="envelope icon"></i>info@freegoldwatch.com</p>
          </a>
          <a href="tel:14158764444">
            <i class="phone icon"></i>415 876-4444
          </a>
        </div>
      </div>

      <div class="row">
        <div class="three wide column"></div>
        <div class="ten wide column">
          <%= link_to 'https://www.facebook.com/FreeGoldWatchShop/', target: '_blank' do %>
            <%= fa_icon "facebook-square 3x" %>
          <% end %>
          <%= link_to 'https://www.instagram.com/freegoldwatch/', target: '_blank' do %>
            <%= fa_icon "instagram 3x" %>
          <% end %>
          <%= link_to 'https://twitter.com/freegoldwatchus', target: '_blank' do %>
            <%= fa_icon "twitter-square 3x" %>
          <% end %>
          <p>copyright<i class="copyright icon"></i>2018 | freegoldwatch.</p>
        </div>
        <div class="three wide column"></div>
      </div>
    </div>
  </div>

</footer>
