<!DOCTYPE html>
<html>
  <head>
    <title>FreeGoldWatch</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body class="ui container admin-style">

    <div class="ui text menu">
      <div class="header item">
        <%= link_to root_path do %>
        <h1 class="admin-header">FGW.</h1>
        <% end %>
      </div>

      <div class="item inverted">
          <%= link_to prints_path, class: 'item admin-nav-links' do %>
            Prints.
          <% end %>
      </div>
      <div class="item inverted">
          <%= link_to pins_path, class: 'item admin-nav-links' do %>
            Pins.
          <% end %>
      </div>

      <div class="right menu">
        <%= link_to "logout", destroy_admin_session_path, :method => 'delete', class: 'logout-link' %>
      </div>
    </div>

    <p id="notice"><%= notice %></p>
    <br>

    <!-- Dashboard Viewport -->
    <div class="">
      <%= yield %>
    </div>

  </body>
</html>
