<!DOCTYPE html>
<html>
  <head>
    <title>FreeGoldWatch</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body class="admin-style">

    <div class="ui text menu">
      <div class="header item">
        <%= link_to root_path do %>
        <h1 class="admin-head">FGW.</h1>
        <% end %>
      </div>
      <div class="right menu">
        <%= link_to "logout", destroy_admin_session_path, :method => 'delete', class: 'logout-link' %>
      </div>
    </div>

    <p id="notice"><%= notice %></p>

    <div class="ui three item inverted menu">
      <%= link_to prints_path, class: 'item admin-nav-links' do %>
        Prints
      <% end %>
      <%= link_to pins_path, class: 'item admin-nav-links' do %>
        Pins
      <% end %>
      <%= link_to root_path, class: 'item admin-nav-links' do %>
        Front Page
      <% end %>
    </div>

    <!-- Dashboard Viewport -->
    <div class="ui centered stackable grid">
      <%= yield %>
    </div>

  </body>
</html>
