<!DOCTYPE html>
<html>
  <head>
    <title>FreeGoldWatch</title>

    <!-- Materialize & Font CDNs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "logout", destroy_admin_session_path, :method => 'delete', class: 'right' %>
    <h1 class="admin_head">FGW</h1>
    <div class="row">
      <div class="col s12">
        <ul class="fixed width">
          <li class="col s4"> <%= link_to "Prints", prints_path %> </li>
          <li class="col s4"> <%= link_to "Pins", pins_path %> </li>
          <li class="col s4"> <%= link_to "Front Page", root_path %> </li>
        </ul>
      </div>

      <!-- Dashboard Viewport -->
      <%= yield %>

    </div>
    <footer class="center">2017</footer>
  </body>
</html>
