<!DOCTYPE html>
<html>
  <head>
    <title>FreeGoldWatch</title>

    <!-- Materialize CDNs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="wrapper">
        <div class="outer">
          <div class="item-wrapper">
            <%= image_tag('logo', class: "") %>
          </div>
          <div class="item-wrapper">
            <%= image_tag('hours', class: "") %>
          </div>
        </div>
      </div>

    <%= yield %>
  </body>
</html>
